@import "bootstrap/bootstrap";
@import "theme2test";

body{
  text-align: center;
}

.votes{
  padding-left: 3px;
  padding-right: 3px;
  vertical-align: middle;
}

.panel{
  margin: 2%;
  margin-top: -1px;
  padding-bottom: 2%;
}

.panel-footer{
  border: 1px solid rgb(221, 221, 221);
  margin: 0;
  margin-top: 7px;
  padding-bottom: 5px;
  padding-left: 5px;
}
.hear-buttons{
  width: 55px;
}

.comments{
  margin: 10px;
}
.secret-form{
  margin-left: 5%;
  margin-right: 5%;
}
.form-inline{
  display: inline;
}

.nav{
  padding-left: 2%;
  padding-right: 2%;
}

.about-footer{
  margin-left: 25%;
  margin-right: 25%;
}

.close {
    color: #fff;
    opacity: 1;
}

.color-primary { color: #80008F }	/* Main Primary color */
